<p id="notice"><%= notice %></p>


<div class="span12">
    <div class="group">
      <%= link_to("編輯公司資料",edit_company_path(@company), :class => "btn btn-mini btn-primary pull-right") %>
      <%= link_to("顯示歷史訂單", company_orders_path(@company), :class => "btn btn-mini btn-primary pull-right") %>
      <%= link_to("新增訂單", new_company_order_path, :class => "btn btn-mini btn-primary pull-right") %>
    </div>
</div>


<h2> <%= @company.name %> </h2>

<p>統編</p>
<p> <%= @company.company_no %></p>
<p>聯絡人</p>
<p> <%= @company.person_charge %></p>
<p>聯絡電話</p>
<p> <%= @company.contact %></p>

<%= link_to 'Back', companies_path %>
